---
---

@tailwind base;
@layer base {

    body {
        @apply bg-nord6;
    }

    a {
        @apply underline;
    }

    h1 {
        @apply text-3xl py-3;
      }

    h2 {
        @apply text-2xl py-2.5;
    }

    h3 {
        @apply text-xl py-1;
    }

    h4 {
        @apply text-lg py-1;
        text-transform: uppercase;
    }

    ol {
        @apply list-decimal list-inside indent-9 py-3;
    }

    ul {
        @apply list-disc list-inside indent-9 py-3;
    }

    pre { 
        @apply bg-nord5 text-nord3 block my-3;
        font-family: monospace;
        word-wrap: break-word;
        box-decoration-break: clone;
        padding: .1rem .3rem .2rem;
        border-radius: .2rem;
    }

    code { 
        @apply bg-nord5 text-nord3;
        font-family: monospace;
        word-wrap: break-word;
        box-decoration-break: clone;
        padding: .1rem .3rem .2rem;
        border-radius: .2rem;
    }

    .nav-links {
        @apply no-underline mr-5 text-nord3 hover:text-nord0;
    }

    .page {
        position: absolute; top: 0%; bottom: 0%; width: 100%;
    }

    .mapcontainer { 
        @apply container mx-auto; 
    }

    .featurecontainer { 
        @apply mt-4;
        width: 100%;
    }

    #features { 
        overflow: scroll;
    }

	#map { 
        @apply rounded; height: 350px; width: 100%;
    }

	#map canvas {
        cursor: crosshair;
    }

    .btn-blue { 
        @apply mt-2 md:mt-4 inline-flex border-0 py-1 px-3 rounded items-center bg-nord10 text-nord6 hover:bg-nord9;
        border: none;
        cursor: pointer;
    }

    .btn-light { 
        @apply mt-2 mb-4 md:mt-0 inline-flex border-0 py-1 px-3 rounded items-center bg-nord4 text-nord2 hover:bg-nord5;
        border: none;
        cursor: pointer;
    }

    table, th, td {
       @apply table-auto text-left;
    }

} 
@tailwind components;
@tailwind utilities;

