---
---

@import "{{ site.theme }}";

#map {  
    top: 0;
    bottom: 0;
    height: 350px; 
    width: 100%;
}

#map canvas {
    cursor: crosshair;
}

.mapcontainer {
    display: flex; 
    width: 100%; 
    height: 75%;
}

.mapinfowrapper {
    margin-bottom: 20px;
}

.mapinfo {
    background-color: lightgrey;
    padding: 2px 10px;
    border-radius: 50px;
    font-weight: 700;
}

#features {
    display: flex;
    width: 100%;
    overflow: auto;
    background: rgba(255, 255, 255, 0.8);
}

.featurecontainer {
    display: flex;  
    width: 100%; 
    height: 25%;
}

button, .buttonlink {
    background-color: #3386c0;
    color: #fff;
    font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 50px;
    font-size: medium;
    display: inline-block;
}

button:hover, .buttonlink:hover{
    background-color: #75b8e7;
    text-decoration: none;
    color:#fff
}

.buttonlink:visited {
    color:#fff;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.site-header { 
    border-top: none;
}