---
---

@import "{{ site.theme }}";

#map {  
    top: 0;
    bottom: 0;
    height: 350px; 
    width: 100%;
}

#map canvas {
    cursor: crosshair;
}

.mapcontainer {
    display: flex; 
    width: 100%; 
    height: 75%;
}

.mapinfowrapper {
    margin-bottom: 20px;
}

.mapinfo {
    background-color: lightgrey;
    padding: 2px 10px;
    border-radius: 50px;
    font-weight: 700;
}

#features {
    width: 100%;
    /*
    width: 100%;
    overflow: auto;
    background: rgba(255, 255, 255, 0.8);
               */
}

.featurecontainer { 
    display: flex;  
    width: 100%; 
    height: 25%;                 
}

#zoomto, .buttonlink {
    background-color: #3386c0;
    color: #fff;
    font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 50px;
    font-size: medium;
    display: inline-block;
    transition: all 200ms;
}

#zoomto:hover, .buttonlink:hover{
    background-color: #75b8e7;
    text-decoration: none;
    color:#fff;
    cursor: pointer;
}

.buttonlink:visited {
    color:#fff;
}

.site-header { 
    border-top: none;
}

.content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
}

.overlay {
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

#buttonWrapper {
    margin: 50px 0px 15px 0px;
    position: relative;
    display: flex;
    align-items: center;
}

#helpButton {
    color: #000;
    background-color: rgb(150, 150, 150);
    font-weight: 700;
    margin: 0;
    padding: 5px 15px;
    position: absolute;
    right: 0px;
}

#helpButton:hover {
    background-color: lightgrey;
    cursor: help;
}

#helpContent {
    margin: 10% auto;
    background: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    width: 30%;
    position: relative;
}

#helpText {
    margin: 0;
    overflow: auto;
}

#helpText ul {
    padding: 10px;
}

#helpText li {
    padding: 4px;
}

#helpText h2 {
    color: #fff;
    background-color: #3386c0;
    padding: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#closeHelp {
    display: inline;
    position: absolute;
    top: 7px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
  }
  
  #closeHelp:hover {
    color: #FFF;
  }

/* Style the button that is used to open and close the collapsible content */

table {
    /*table-layout: fixed; */
    width: 90%;

}

th, td {
    width: 30%;
    overflow: auto;


}

table, th, td {
    border: none !important;
    background-color: transparent !important;
    padding: 0px !important
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    margin-bottom: 0px !important;
    border-radius: 0px;
    display: tight;
}

.collapseHeader {
    background-color: #eee;
    color: #444;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    margin-bottom: 0px !important;
    border-radius: 0px;
    display: tight;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}

.collapseHeader:hover {
    background-color: #ccc;
}

.footer-link {
    display: block;
}
