<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/main.css">
</head>

<body>

  <header class="site-header">
    <nav>
      <div class="wrapper">
        <a href="{{ site.url }}" >
          <h1 class="site-title">{{ site.title }}</h1>
        </a>
      </div>
    </nav>
  </header>
  
  
  <main class="page-content">
    <div class="wrapper">
      <p>
          {{ content }} 
      </p>
    </div>
  </main>

  <footer class="site-footer">
    <div class="wrapper">
      <!-- <p class="text-xs text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p> -->
      <a href="">
        <h2 class="footer-heading">Brought to you by UBC Library Research Commons</h2>
      </a>
    </div>
  </footer>

</body>

</html>
