---
layout: default
---

{{ page.content }}

<h1>What is the OpenIndexMap-O-Matic?</h2>
<p>The OpenIndexMap-O-Matic is a finding aid created to allow students, researchers, and other interested parties to visually and geographically navigate the University of British Columbia’s Walter C. Koerner Library map collection. It is a digital index map that displays the physical maps in the collection at the geographic location that they represent. Select a map set below to get started.</p>

<h1>Available Map Sets</h2>

<div>
    {% for map in site.pages %}
        {% if map.layout == "map-item" %}
            <div>
                <h3><a href="{{ site.url }}{{ site.baseurl }}{{ site.indexfolder }}/{{ map.slug }}">{{map.title}}</a></h3>
                <p>{{ map.location }}</p>
            </div>
        {% endif %}
    {% endfor %}
</div>

