--- 
layout: default
---
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
<!-- Import Turf Module - Needed to calculate bounding boxes -->
<script src='https://api.mapbox.com/mapbox.js/plugins/turf/v2.0.2/turf.min.js'></script>

</head>
<body>

    <div class="mapcontainer">
        <div class="flex space-x-2 ">
            <span class="text-xs inline-block py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-nord1 text-white rounded-full">Scale {{ page.scale }}</span>
            <span class="text-xs inline-block py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-nord7 text-white rounded-full">Years {{ page.years_published }}</span>
            <span class="text-xs inline-block py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-nord10 text-white rounded-full">{{ page.nosheets }} map sheets</span>
          </div>
        <h1>{{ page.title }}</h1>
        <a href="{{ page.infourl }}"><button class="btn-light">More info</button></a>
        <div id="map"></div>
        <button id="zoomto" class="btn-blue">Reset map</button>
    </div>
    <div class="featurecontainer">
        <div id="features"></div>
    </div>

<pre id="json"></pre>
<script>
	mapboxgl.accessToken = '{{ site.mapbox-access-token }}';

// Location of the geojson
// Specifying here allows for it to be more easily changed.
// There is also an option where we could load .geojsons local storage if desired.
const dPath = '{{ page.geojsonurl }}';

// There isn't an explicit way to get the bounds of a geojson with GLJS
//   - seems there should be?
// This function allows us to:
// Read any geojson from a URL
async function mapData(){
    //  fetch() retreives data from a URL
    //   - Its an asynchronous command, returns a promise to retreive a value
    //   - By keeping everything in the mapData() function, commands are applied the value not the promise
    const data = await fetch(dPath, {
                                headers: {
                                'Accept': 'application/json'
                                }
                            });
    //  Read geojson from the fetched value
    const geoJson = await data.json();
    //  Turf moddule allows us to get the bounding box of a geojson 
    var bbox = turf.extent(geoJson);
    //  fit() will fit the map to the bounding box of our geojson
    //  Called later after map is initialized
    function fit() {
                    map.fitBounds(bbox, {padding: 50});
                    }

    //  Create the map - zoom and center are arbitrary
    const map = new mapboxgl.Map({
                container: 'map',
                zoom: 4,
                center: [-125.193328, 50.506185],
                style: '{{ site.mapbox-style }}'
                });
    map.addControl(new mapboxgl.NavigationControl());
    //  Fit to bbox, overwrite the center/zoom
    fit();
    //  On load - add geojson
    map.on('load', function() {

    //  Add the geojson as a map source
        map.addSource('Data Layer', {
        type: 'geojson',
        data: geoJson
        });

    //  Add the layer, reference the source to minimize redundancy
    map.addLayer({
                'id': 'Data Layer Values',
                'type': 'fill',
                'source': 'Data Layer',
                'layout': {},
                    'paint': {
                        'fill-color': '#FF8484',
                        'fill-opacity': 0,
                        'fill-outline-color': 'black'
                    },
                });
        
    // skeleton outline of the grid
    map.addLayer({
                'id': 'Data Layer Frame',
                'type': 'line',
                'source': 'Data Layer',
                'layout': {},
                    'paint': {
                        'line-color': '#4c566a',
                        'line-width': .5
                    },
                });
    


    // Call fit when clicking the zoomto button
    document.getElementById('zoomto').addEventListener('click', () => {
        fit()
    });
    });

    // Create an empty marker
    const marker = new mapboxgl.Marker();
    // Function to add the marker
    function add_marker (event) {
        var coordinates = event.lngLat;
        console.log('Lng:', coordinates.lng, 'Lat:', coordinates.lat);
        marker.setLngLat(coordinates).addTo(map);
        }
        
    // Display desired attributes on click
    map.on('click', (e) => {
        // Add the marker (show where the click is)
        add_marker(e);

        // Get features at point click
        const features = map.queryRenderedFeatures(e.point, {layers: ['Data Layer Values']});
         // Limit the number of properties we're displaying for legibility and performance
       
        // Create the table

        function makeTable (json) {
            var tbl = ('<table width = 100%><tr>');
            for (var key in features[0].properties){
                tbl = tbl+'<th>'+key+'</th>';
            };
            tbl = tbl + '</tr>'
            for (var i = 0; i < features.length; i++) {
                tbl = tbl+"<tr>"
                // var keys = Object.keys(obj);
                for (var key in features[i].properties)
                    tbl = tbl+("<td>" + features[i].properties[key] + "</td>");
                    // tr = tr+("<td>" + json[i].properties.label + "</td>");
                    // tr = tr+("<td>" + json[i].properties.label + "</td>");
                tbl = tbl+"</tr>"
            };
            tbl = tbl +'</table>';
            return tbl;
            }

        // document.getElementById('features').innerHTML = displayFeatures[0].properties //makeTable(displayFeatures)
        document.getElementById('features').innerHTML = makeTable()
        
    });

    




};

// Call mapData() to initalize the map
mapData();

</script>
 
</body>
</html>
