---
layout: default
---
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
    <!-- Import Turf Module - Needed to calculate bounding boxes -->
    <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v2.0.2/turf.min.js'></script>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/map-layout.css">
</head>

<body>

    <div style=" position: sticky; padding-top: 3%; padding-bottom: 2%; top: 0%; left: 3%; background-color: #fdfdfd; z-index: 0; min-width: 90%">
        <div class="mapinfowrapper">
            <span class="mapinfo">Scale {{ page.scale }}</span>
            <span class="mapinfo">Years {{ page.years_published }}</span>
            <span class="mapinfo">{{ page.nosheets }} map sheets</span>
        </div>
        <h1 class="page-heading">{{ page.title }}</h1>

        <a href="{{ page.infourl }}" class="buttonlink" alt="Open Catalogue">Open Catalogue</a>
    </div>


    <div class="row" style="width: 100%; float: left; min-width: 90%;">
        <div class="column" style="position: initial; padding-right: 3%; left: 0%; z-index:-1">

            <div class="featurecontainer">
                <div id="features"></div>
            </div>

            <span> </span>
        </div>
        <div class="column" style="position: sticky; padding-left: 3%; top: 29%; right: 0; float: right;">



            <div id="openHelp" class="overlay">
                <div id="helpContent">
                    <a href="#" id="closeHelp">&times;</a>
                    <div id="helpText">
                        <h2>How to Use the OpenIndexMap-O-Matic</h2>
                        <div id="scrollHelp">
                            <ul>
                                <li>Click and drag on the map to move the tool.</li>
                                <li>Zoom in and out by clicking the plus (+) or minus (-) buttons.</li>
                                <li>Click on an outlined shape to see what maps are in the collection. Information about the maps in that area will be displayed below the map tool.</li>
                                <li>Click the “Open Catalogue” button to navigate to the catalogue listing for the map series.</li>
                                <li>Click the “Reset Map” button to return the tool to its default state.</li>
                                <li>Click on each map listing to see more detail about a particular map.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mapcontainer">
                <div id="map"></div>
            </div>
            <div id="buttonWrapper">
               
                <button id="zoomto" class="btn-control" alt="Reset Map">Reset Map</button>
                <a href="#openHelp" id="helpButton" class="buttonlink" alt="Help">&quest;</a>
            </div>
        </div>
        </div>


        <script>
	mapboxgl.accessToken = '{{ site.mapbox-access-token }}';

// Location of the geojson
// Specifying here allows for it to be more easily changed.
// There is also an option where we could load .geojsons local storage if desired.
const dPath = '{{ page.geojsonurl }}';

// There isn't an explicit way to get the bounds of a geojson with GLJS
//   - seems there should be?
// This function allows us to:
// Read any geojson from a URL
async function mapData(){
    //  fetch() retreives data from a URL
    //   - Its an asynchronous command, returns a promise to retreive a value
    //   - By keeping everything in the mapData() function, commands are applied the value not the promise
    const data = await fetch(dPath, {
                                headers: {
                                'Accept': 'application/json'
                                }
                            });
    //  Read geojson from the fetched value
    const geoJson = await data.json();
    //  Turf moddule allows us to get the bounding box of a geojson
    var bbox = turf.extent(geoJson);
    //  fit() will fit the map to the bounding box of our geojson
    //  Called later after map is initialized
    function fit() {
                    map.fitBounds(bbox, {padding: 50});
                    }

    //  Create the map - zoom and center are arbitrary
    const map = new mapboxgl.Map({
                container: 'map',
                zoom: 4,
                center: [-125.193328, 50.506185],
                style: '{{ site.mapbox-style }}',
                pitchWithRotate: false,
                dragRotate: false,
                touchZoomRotate: false,
                 projection: {
                     name: 'mercator'
                    }
                });
    map.addControl(new mapboxgl.NavigationControl({ showCompass: false }));
    //  Fit to bbox, overwrite the center/zoom
    map.scrollZoom.disable();
    fit();
    //  On load - add geojson
    map.on('load', function() {

    //  Add the geojson as a map source
        map.addSource('Data Layer', {
        type: 'geojson',
            data: geoJson,
            generateId: true

        });

    //  Add the layer, reference the source to minimize redundancy
        //fill opacity is based on a feature-state, hover, which is controlled by the position of the mouse
    map.addLayer({
                'id': 'Data Layer Values',
                'type': 'fill',
                'source': 'Data Layer',
                'layout': {},
                    'paint': {
                        'fill-color': '#FF8484',
                        'fill-opacity': [
                            'case',
                            ['boolean', ['feature-state', 'hover'], false],
                            0.5,
                            0
                        ],
                        'fill-outline-color': 'black',

                    },
                });


    // skeleton outline of the grid
    map.addLayer({
                'id': 'Data Layer Frame',
                'type': 'line',
                'source': 'Data Layer',
                'layout': {},
                    'paint': {
                        'line-color': 'maroon',
                        'line-width': 2
                    },
                });



    // Call fit when clicking the zoomto button
    document.getElementById('zoomto').addEventListener('click', () => {
        fit();
        marker.remove();
        document.getElementById('features').innerHTML = "";

        //remove hightlight, if it exists
        map.setFeatureState({
            'source': 'Data Layer',
            'id': ID

        }, {
            hover: false

        });

    });
    });

    // Create an empty marker
    const marker = new mapboxgl.Marker();
    // Function to add the marker
    function add_marker (event) {
        var coordinates = event.lngLat;
        console.log('Lng:', coordinates.lng, 'Lat:', coordinates.lat);
        marker.setLngLat(coordinates).addTo(map);
        }

    //define ID outside of scope of click function
    var ID =null;
    // Display desired attributes on click
    map.on('click', (e) => {
        // Add the marker (show where the click is)
        add_marker(e);

        //removes highlight if it dropdown was open before clicking a new location
        map.setFeatureState({
            'source': 'Data Layer',
            'id': ID

        }, {
            hover: false

        });

        // Get features at point click
        const features = map.queryRenderedFeatures(e.point, {layers: ['Data Layer Values']});
         // Limit the number of properties we're displaying for legibility and performance




       //OIM names based on table pulled from OIM specifications; second array allows for searching
       const OIMnames= [
            {
                ELEMENT: "label",
                USED_FOR: "Sheet/frame no."
            },
            {
                ELEMENT: "labelAlt",
                USED_FOR: "Alternate sheet/frame no."
            },
            {
                ELEMENT: "labelAlt2",
                USED_FOR: "Second alternate sheet/frame no."
            },
            {
                ELEMENT: "datePub",
                USED_FOR: "Publication date"
            },
            {
                ELEMENT: "date",
                USED_FOR: "Date"
            },
            {
                ELEMENT: "west",
                USED_FOR: "Westernmost longitude"
            },
            {
                ELEMENT: "east",
                USED_FOR: "Easternmost longitude"
            },
            {
                ELEMENT: "north",
                USED_FOR: "Northernmost latitude"
            },
            {
                ELEMENT: "south",
                USED_FOR: "Southernmost latitude"
            },
            {
                ELEMENT: "location",
                USED_FOR: "Location"
            },
            {
                ELEMENT: "scale",
                USED_FOR: "Scale"
            },
            {
                ELEMENT: "color",
                USED_FOR: "Color"
            },
            {
                ELEMENT: "title",
                USED_FOR: "Sheet name"
            },
            {
                ELEMENT: "titleAlt",
                USED_FOR: "Alternate sheet name"
            },
            {
                ELEMENT: "dateSurvey",
                USED_FOR: "Survey date"
            },
            {
                ELEMENT: "datePhoto",
                USED_FOR: "Photocorrected date"
            },
            {
                ELEMENT: "dateReprnt",
                USED_FOR: "Reprint date"
            },
            {
                ELEMENT: "overprint",
                USED_FOR: "Overprint"
            },
            {
                ELEMENT: "edition",
                USED_FOR: "Edition"
            },
            {
                ELEMENT: "publisher",
                USED_FOR: "Publisher"
            },
            {
                ELEMENT: "overlays",
                USED_FOR: "Overlays"
            },
            {
                ELEMENT: "projection",
                USED_FOR: "Projection"
            },
            {
                ELEMENT: "lcCallNo",
                USED_FOR: "LC Call Number"
            },
            {
                ELEMENT: "contLines",
                USED_FOR: "Contour lines"
            },
            {
                ELEMENT: "contInterv",
                USED_FOR: "Contour interval"
            },
            {
                ELEMENT: "bathLines",
                USED_FOR: "Bathymetric lines"
            },
            {
                ELEMENT: "bathInterv",
                USED_FOR: "Bathymetric interval"
            },
            {
                ELEMENT: "primeMer",
                USED_FOR: "Prime Meridian"
            },
            {
                ELEMENT: "photomos",
                USED_FOR: "Photomosaic"
            },
            {
                ELEMENT: "bands",
                USED_FOR: "Bands"
            },
            {
                ELEMENT: "rectificn",
                USED_FOR: "Rectification"
            },
            {
                ELEMENT: "rollNo",
                USED_FOR: "Roll number"
            },
            {
                ELEMENT: "inst",
                USED_FOR: "Institution"
            },
            {
                ELEMENT: "sheetId",
                USED_FOR: "Sheet ID"
            },
            {
                ELEMENT: "available",
                USED_FOR: "Available"
            },
            {
                ELEMENT: "physHold",
                USED_FOR: "Physical holdings"
            },
            {
                ELEMENT: "digHold",
                USED_FOR: "Digital holdings"
            },
            {
                ELEMENT: "instCallNo",
                USED_FOR: "Local call number"
            },
            {
                ELEMENT: "recId",
                USED_FOR: "Record identifier"
            },
            {
                ELEMENT: "download",
                USED_FOR: "Download URL"
            },
            {
                ELEMENT: "websiteUrl",
                USED_FOR: "Website URL"
            },
            {
                ELEMENT: "thumbUrl",
                USED_FOR: "Thumbnail URL"
            },
            {
                ELEMENT: "iiifUrl",
                USED_FOR: "IIIF URL"
            },
            {
                ELEMENT: "fileName",
                USED_FOR: "File name"
            },
            {
                ELEMENT: "note",
                USED_FOR: "Notes"
            },
        ];
        var OIMArray = [];
        for (var key in OIMnames) {

            OIMArray.push(OIMnames[key].ELEMENT)
        }

        //Create table
        function makeTable(rArray) {
            var tbl = ('<table width = 100%><tr>');

            //create header
            //
            var display = "<button class=\"collapseHeader\"><table><tr>  <th>Label</th> <th> Title</th> <th>Date Published</th><th>  </th></tr> </table></button> ";
            var curLabel;
            var curTitle;
            var curDate;


            //enclose it in a scrollable thing?? (idk how)
            //for loop to create all the collapsible stuff
            for (var i = 0; i < features.length; i++) {

                curLabel = "";

                curTitle = "";

                curDate = "";

                //make sure they have titles etc before adding them
                if (features[i].properties.label) {
                    curLabel = features[i].properties.label;

                }
                if (features[i].properties.title) {
                    curTitle = features[i].properties.title;
                }
                if (features[i].properties.datePub) {
                    curDate = features[i].properties.datePub;
                }


                //create title info
                //give table elements the id of the feature they represent so we can access feature element on map
                var str1 = "<button  type=\"button\" id=\""+ features[i].id.toString() + "\" class=\"collapsible\"><table><tr>  <th> "
                var str2 = "</th> <th>"
                display = display + str1 + curLabel + str2 + curTitle + "</th> <th>" + curDate + "</th><th>"

                //add image link
                if (features[i].properties.websiteUrl) {
                    display = display + "<a href=\" " + features[i].properties.websiteUrl + "\" ><button class=\"btn-blue\">Map</button></a></th>"
                }

                display = display + "</th></tr> </table></button> "
                var name;
                var index;

                //add info to dropdown
                display = display + "<div class=\"content\">"
                for (var key in features[i].properties) {
                    var info;
                    //search for index of key to find full name in table
                    index = OIMArray.indexOf(key)
                        if (index == -1) {
                            name = key;
                        } else {
                            name = OIMnames[index].USED_FOR
                        }

                    //make it a hyperlink if it is the appropriate type
                    if (key == "websiteUrl" || key == "download" || key == "physHold" || key == "iiifURL" || key == "digHold") {

                        info = "<a href=\" " + features[i].properties[key] + "\">" + features[i].properties[key] + " </a>"

                        display = display + "<span><b>" + name + ":   </b>" + info + "</span> <br>";
                    } else {
                        info = features[i].properties[key]
                        display = display + "<p><b>" + name + ":   </b>" + info + "</p> ";
                    }



                }


                display = display + "</div>"
            }


            return display
        }



        // document.getElementById('features').innerHTML = displayFeatures[0].properties //makeTable(displayFeatures)
        document.getElementById('features').innerHTML = makeTable()

        //add listeners
        var coll = document.getElementsByClassName("collapsible");
        var i;


        for (i = 0; i < coll.length; i++) {

            //if the element is already expand it, close it. Otherwise, expand it and highlight the polygon
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                ID = this.id;
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;

                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                    map.setFeatureState({
                        'source': 'Data Layer',
                        'id': ID
                    }, {
                        hover: true

                    });
                }
            });

            //highlight polygon when mouse enters feature in table
            coll[i].addEventListener("mouseover", function () {

                ID = this.id;

                map.setFeatureState({
                    'source': 'Data Layer',
                    'id': ID
                }, {
                    hover: true

                });



            });

            //make polygon transparent again when mouse leaves feature in table, unless feature is expanded, in which case keep it highlighted
            coll[i].addEventListener("mouseout", function () {

                if (!this.nextElementSibling.style.maxHeight) {
                    map.setFeatureState({
                        'source': 'Data Layer',
                        'id': ID
                    }, {
                        hover: false

                    });

                    ID = null;
                }


            });
        }

    });





};

// Call mapData() to initalize the map
mapData();

        </script>

</body>
</html>
