--- 
layout: default
---
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
    <!-- Import Turf Module - Needed to calculate bounding boxes -->
    <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v2.0.2/turf.min.js'></script>
</head>

<body>
    <div class="mapinfowrapper">
        <span class="mapinfo">Scale {{ page.scale }}</span>
        <span class="mapinfo">Years {{ page.years_published }}</span>
        <span class="mapinfo">{{ page.nosheets }} map sheets</span>
    </div>
    <h1 class="page-heading">{{ page.title }}</h1>
    <a href="{{ page.infourl }}" class="buttonlink">More info</a>
    <button id="zoomto" class="btn-control">Reset map</button>
    <div class="mapcontainer">
        <div id="map"></div>
    </div>
    <span> </span>
    <div class="featurecontainer">
        <div id="features"></div>
    </div>

<script>
	mapboxgl.accessToken = '{{ site.mapbox-access-token }}';

// Location of the geojson
// Specifying here allows for it to be more easily changed.
// There is also an option where we could load .geojsons local storage if desired.
const dPath = '{{ page.geojsonurl }}';

// There isn't an explicit way to get the bounds of a geojson with GLJS
//   - seems there should be?
// This function allows us to:
// Read any geojson from a URL
async function mapData(){
    //  fetch() retreives data from a URL
    //   - Its an asynchronous command, returns a promise to retreive a value
    //   - By keeping everything in the mapData() function, commands are applied the value not the promise
    const data = await fetch(dPath, {
                                headers: {
                                'Accept': 'application/json'
                                }
                            });
    //  Read geojson from the fetched value
    const geoJson = await data.json();
    //  Turf moddule allows us to get the bounding box of a geojson 
    var bbox = turf.extent(geoJson);
    //  fit() will fit the map to the bounding box of our geojson
    //  Called later after map is initialized
    function fit() {
                    map.fitBounds(bbox, {padding: 50});
                    }

    //  Create the map - zoom and center are arbitrary
    const map = new mapboxgl.Map({
                container: 'map',
                zoom: 4,
                center: [-125.193328, 50.506185],
                style: '{{ site.mapbox-style }}'
                });
    map.addControl(new mapboxgl.NavigationControl());
    //  Fit to bbox, overwrite the center/zoom
    fit();
    //  On load - add geojson
    map.on('load', function() {

    //  Add the geojson as a map source
        map.addSource('Data Layer', {
        type: 'geojson',
        data: geoJson
        });

    //  Add the layer, reference the source to minimize redundancy
    map.addLayer({
                'id': 'Data Layer Values',
                'type': 'fill',
                'source': 'Data Layer',
                'layout': {},
                    'paint': {
                        'fill-color': '#FF8484',
                        'fill-opacity': 0,
                        'fill-outline-color': 'black'
                    },
                });
        
    // skeleton outline of the grid
    map.addLayer({
                'id': 'Data Layer Frame',
                'type': 'line',
                'source': 'Data Layer',
                'layout': {},
                    'paint': {
                        'line-color': '#4c566a',
                        'line-width': .5
                    },
                });
    


    // Call fit when clicking the zoomto button
    document.getElementById('zoomto').addEventListener('click', () => {
        fit();
        marker.remove();
        document.getElementById('features').innerHTML = "";
        
    });
    });

    // Create an empty marker
    const marker = new mapboxgl.Marker();
    // Function to add the marker
    function add_marker (event) {
        var coordinates = event.lngLat;
        console.log('Lng:', coordinates.lng, 'Lat:', coordinates.lat);
        marker.setLngLat(coordinates).addTo(map);
        }
        
    // Display desired attributes on click
    map.on('click', (e) => {
        // Add the marker (show where the click is)
        add_marker(e);
       

        // Get features at point click
        const features = map.queryRenderedFeatures(e.point, {layers: ['Data Layer Values']});
         // Limit the number of properties we're displaying for legibility and performance



        // Create the table
       const OIMnames= [
            {
                ELEMENT: "label",
                USED_FOR: "Sheet/frame no."
            },
            {
                ELEMENT: "labelAlt",
                USED_FOR: "Alternate sheet/frame no."
            },
            {
                ELEMENT: "labelAlt2",
                USED_FOR: "Second alternate sheet/frame no."
            },
            {
                ELEMENT: "datePub",
                USED_FOR: "Publication date"
            },
            {
                ELEMENT: "date",
                USED_FOR: "Date"
            },
            {
                ELEMENT: "west",
                USED_FOR: "Westernmost longitude"
            },
            {
                ELEMENT: "east",
                USED_FOR: "Easternmost longitude"
            },
            {
                ELEMENT: "north",
                USED_FOR: "Northernmost latitude"
            },
            {
                ELEMENT: "south",
                USED_FOR: "Southernmost latitude"
            },
            {
                ELEMENT: "location",
                USED_FOR: "Location"
            },
            {
                ELEMENT: "scale",
                USED_FOR: "Scale"
            },
            {
                ELEMENT: "color",
                USED_FOR: "Color"
            },
            {
                ELEMENT: "title",
                USED_FOR: "Sheet name"
            },
            {
                ELEMENT: "titleAlt",
                USED_FOR: "Alternate sheet name"
            },
            {
                ELEMENT: "dateSurvey",
                USED_FOR: "Survey date"
            },
            {
                ELEMENT: "datePhoto",
                USED_FOR: "Photocorrected date"
            },
            {
                ELEMENT: "dateReprnt",
                USED_FOR: "Reprint date"
            },
            {
                ELEMENT: "overprint",
                USED_FOR: "Overprint"
            },
            {
                ELEMENT: "edition",
                USED_FOR: "Edition"
            },
            {
                ELEMENT: "publisher",
                USED_FOR: "Publisher"
            },
            {
                ELEMENT: "overlays",
                USED_FOR: "Overlays"
            },
            {
                ELEMENT: "projection",
                USED_FOR: "Projection"
            },
            {
                ELEMENT: "lcCallNo",
                USED_FOR: "LC Call Number"
            },
            {
                ELEMENT: "contLines",
                USED_FOR: "Contour lines"
            },
            {
                ELEMENT: "contInterv",
                USED_FOR: "Contour interval"
            },
            {
                ELEMENT: "bathLines",
                USED_FOR: "Bathymetric lines"
            },
            {
                ELEMENT: "bathInterv",
                USED_FOR: "Bathymetric interval"
            },
            {
                ELEMENT: "primeMer",
                USED_FOR: "Prime Meridian"
            },
            {
                ELEMENT: "photomos",
                USED_FOR: "Photomosaic"
            },
            {
                ELEMENT: "bands",
                USED_FOR: "Bands"
            },
            {
                ELEMENT: "rectificn",
                USED_FOR: "Rectification"
            },
            {
                ELEMENT: "rollNo",
                USED_FOR: "Roll number"
            },
            {
                ELEMENT: "inst",
                USED_FOR: "Institution"
            },
            {
                ELEMENT: "sheetId",
                USED_FOR: "Sheet ID"
            },
            {
                ELEMENT: "available",
                USED_FOR: "Available"
            },
            {
                ELEMENT: "physHold",
                USED_FOR: "Physical holdings"
            },
            {
                ELEMENT: "digHold",
                USED_FOR: "Digital holdings"
            },
            {
                ELEMENT: "instCallNo",
                USED_FOR: "Local call number"
            },
            {
                ELEMENT: "recId",
                USED_FOR: "Record identifier"
            },
            {
                ELEMENT: "download",
                USED_FOR: "Download URL"
            },
            {
                ELEMENT: "websiteUrl",
                USED_FOR: "Website URL"
            },
            {
                ELEMENT: "thumbUrl",
                USED_FOR: "Thumbnail URL"
            },
            {
                ELEMENT: "iiifUrl",
                USED_FOR: "IIIF URL"
            },
            {
                ELEMENT: "fileName",
                USED_FOR: "File name"
            },
            {
                ELEMENT: "note",
                USED_FOR: "Notes"
            },
        ];
        var OIMArray = [];
        for (var key in OIMnames) {
            
            OIMArray.push(OIMnames[key].ELEMENT)
        }
       

        function makeTable(rArray) {
            var tbl = ('<table width = 100%><tr>');

            //create header
            //
            var display = "<button class=\"collapseHeader\"><table><tr>  <th>Label</th> <th> Title</th> <th>Date Published</th><th>  </th></tr> </table></button> ";
            var curLabel;
            var curTitle;
            var curDate;


            //enclose it in a scrollable thing?? (idk how)
            //for loop to create all the collapsible stuff
            for (var i = 0; i < features.length; i++) {

                curLabel = "";

                curTitle = "";

                curDate = "";

                //make sure they have titles etc before adding them
                if (features[i].properties.label) {
                    curLabel = features[i].properties.label;

                }
                if (features[i].properties.title) {
                    curTitle = features[i].properties.title;
                }
                if (features[i].properties.datePub) {
                    curDate = features[i].properties.datePub;
                }
                

                //create title info  
                var str1 = "<button  type=\"button\" class=\"collapsible\"><table><tr>  <th> "
                var str2 = "</th> <th>"
                display = display + str1 + curLabel + str2 + curTitle + "</th> <th>" + curDate + "</th><th>"

                //add image link
                if (features[i].properties.websiteUrl) {
                    display = display + "<a href=\" " + features[i].properties.websiteUrl + "\" ><button class=\"btn-blue\">Map</button></a></th>"
                }

                display = display + "</th></tr> </table></button> "
                var name;
                var index;

                //add info to dropdown
                display = display + "<div class=\"content\">"
                for (var key in features[i].properties) {
                    var info;
                    index = OIMArray.indexOf(key)
                    console.log(index,key)
                        if (index == -1) {
                            name = key;
                        } else {
                            name = OIMnames[index].USED_FOR
                        }
                    

                    if (key == "websiteUrl" || key == "download" || key == "physHold" || key == "iiifURL" || key == "digHold") {
                        //change from download!!!
                        info = "<a href=\" " + features[i].properties[key] + "\">" + features[i].properties[key] + " </a>"

                        display = display + "<span><b>" + name + ":   </b>" + info + "</span> <br>";
                    } else {
                        info = features[i].properties[key]
                        display = display + "<p><b>" + name + ":   </b>" + info + "</p> ";
                    }



                }


                display = display + "</div>"
            }

        
            return display
        }



        // document.getElementById('features').innerHTML = displayFeatures[0].properties //makeTable(displayFeatures)
        document.getElementById('features').innerHTML = makeTable()

        //add listeners
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
        
    });

    




};

// Call mapData() to initalize the map
mapData();

</script>
 
</body>
</html>
